#ifndef _SECRETS_H
#define _SECRETS_H

#define WIFI_SSID       "Wi-Fi SSID"
#define WIFI_PASSWORD   "Wi-Fi password"

#define MQTT_HOST       "your.mqtt.host"
#define MQTT_PORT       1883
#define MQTT_TOPIC      "solar-tracker"

#endif